- title("Welcome")

.row
  .page-header
    %h1
      Welcome to Caldron
      %small Version 0.1

.container
  .row
    .span-one-third.offset-one-third
      = image_tag "http://www.clipartmonsterclub.com/clipart/r/large_In_The_Cauldron_55508.png"
